.wrap {
  color: var(--textSoft);
  padding: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: black;
}

.img {
  object-fit: cover;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.formContainer {
  color: aquamarine;
  font-size: xx-large;
}

.contactName {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
.dflex {
  display: flex;
  gap: 14px;
  padding: 10px;
}
.errorMessage {
  color: red;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
