.container {
  display: flex;
  gap: 100px;
  color: black;
  flex-direction: column;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  justify-content: center;
}

.subtitle {
  color: var(--btn);
}

.title {
  font-size: 54px;
}

.desc {
  font-size: 20px;
  font-weight: 300;
  width: 80%;
  display: flex;
  margin: auto;
}

.boxes {
  display: flex;

  justify-content: space-between;
  gap: 30px;
  width: 1020px;
  margin: auto;
}
.box:hover .boxImg {
  transform: rotate(45deg);
}
.boxImg {
  transition: transform 0.7s ease;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 33%;
  text-align: center;
  padding: 20px;
  border-right: 1px #4f4f4f;
}

.box h1 {
  color: var(--btn);
}

.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .boxes {
    flex-direction: column;
    gap: 50px;
  }
}
.itemmap {
  display: flex;
  margin-top: 30px;
}
.textAddress {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
}
.boxImg {
  height: 74px;
  width: 74px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 21px 3px;
}
.wrap {
  margin-top: 30px;
}
.wrapcontainer {
  display: flex;
  gap: 30px;
  width: 1020px;
  margin: auto;
}
.wrapcol {
  width: 33%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px;
}
.wraph2 {
  padding: 0 20px;
}
.wrapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-bottom: 20px;
}
.wrappad {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.achive {
  margin-top: 30px;
}
.achivecontainer {
  display: flex;
  gap: 30px;
}
.achivecol {
  width: 50%;
}
.achivecontent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
