/* .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  width: 30%;
} */

.container {
  display: flex;  
  margin-bottom: 20px;
  color: black;
  width: 1200px;
  margin: auto;
  
  
}
.top {
  display: flex;
}
/* .imgContainer {
  width: 90%;
  height: 400px;
  position: relative;
} */
.img {
  object-fit: cover;
  border-radius: 5%;
}
.date {
  font-size: 12px;
  transform: rotate(270deg);
  margin: auto;
}
.title {
  font-size: 24px;
  margin-bottom: 20px;
}
.desc {
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
}

@media screen and (max-width: 1280px) {
  .post {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
}
.content{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blogcol1{
  width: calc((100%/3)*2);
  
}
.blogloop{
  display: flex;
  flex-wrap: wrap;
}
.blogcontent{
  width: calc(100%/2);
  
  padding: 10px;
  
}
.blogimg{
  width: 100%;
  height: 300px;
}
.bottom{
  padding: 20px;
}
.top{
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 21px 3px;
}
.blogcol2{
  padding-left: 20px;
  width: calc(100%/3);
}

.blognews{
  text-align: center;
  padding: 20px;
  border: 1px solid #e1e1e1;
}

.newsloop{
  display: flex;
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-top: 0px;
}

.newsloop:hover{
  background-color: #EFEFEF;
}
.newsright{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 20px;
}

.morehover:hover{
  color: #264e86;
}
.blogtitle{
  margin: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px ;
}
.null{
  height: 70px;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.pagination li {
  cursor: pointer;
  border: 1px solid #e1e1e1;
}


.pagination li a {
  text-decoration: none;
  color: #007bff;
  padding: 8px 15px;
  display: block;
}
.pagination li:hover {
  color: blue ;
  background-color: #eeeeee;
}

.paginationActive  {
  
  background-color: #428bca;
}
.paginationActive a{
  color: white!important;
}

.paginationDisabled a {
      color: grey;
}
.partner{
  width: 1200px;
  
  margin: auto;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #bdbfc2;
  
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.logo li{
  text-decoration: none;
  list-style: none;
  
}
