.container {
  display: flex;
  gap: 100px;
  color: black;
}
.imgContainer {
  flex: 1;
  height: 300px;
  position: relative;
}
.img {
  position: relative !important;
  border-radius: 5%;
}

.textContainer {
  flex: 2;
}
